@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  overflow-x: hidden;
}

button:hover {
  background-color: rgba(166, 167, 168, 0.695);
  cursor: pointer;
}

main {
  margin-top: 110px;
  margin-bottom: 50px;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  margin-top: 15px;
  font-size: 30px;
  color: magenta;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

div h1 {
  width: 100%;
}

.w-mc {
  width: max-content;
}

.text_effect-scaleup {
  transition: 1s;
  transition-delay: 0.4s;
  z-index: 10;
}

.text_effect-scaleup:hover {
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.438);
  padding: 2px 4px;
  font-size: 16px;
  transition: 0.1s;
}
